/* Styles génériques */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
#content .leftcol ul {
	padding: 0 0 0 25px;
	list-style: square;
	margin: 10px 0;
}
/* Styles structuraux */
body {
	background: transparent url(../imgs/background.jpg) repeat left top;
	margin-top: 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.content {
	width: 960px;
	margin: 0 auto;
}
/* Styles Menu */
#menu {
	margin-top: 15px;
}
#menu ul {
	width: 960px;
	height: 46px;
	background: transparent url(../imgs/menu-bckgrnd.jpg) no-repeat left top;
}
#menu ul li {
	float: left;
}
.home {
	display: block;
	height: 46px;
	width: 114px;
	background: transparent url(../imgs/home.png) no-repeat left top;
}
.guidelines {
	display: block;
	height: 46px;
	width: 170px;
	background: transparent url(../imgs/guidelines.png) no-repeat left top;
}
.teams {
	display: block;
	height: 46px;
	width: 120px;
	background: transparent url(../imgs/teams.png) no-repeat left top;
}
.about {
	display: block;
	height: 46px;
	width: 109px;
	background: transparent url(../imgs/about.png) no-repeat left top;
}
.multimedia {
	display: block;
	height: 46px;
	width: 183px;
	background: transparent url(../imgs/multimedia.png) no-repeat left top;
}
.home:hover, .home-active {
	display: block;
	height: 46px;
	width: 114px;
	background: transparent url(../imgs/home-h.png) no-repeat left top;
}
.guidelines:hover, .guidelines-active {
	display: block;
	height: 46px;
	width: 170px;
	background: transparent url(../imgs/guidelines-h.png) no-repeat left top;
}
.teams:hover, .teams-active {
	display: block;
	height: 46px;
	width: 120px;
	background: transparent url(../imgs/teams-h.png) no-repeat left top;
}
.about:hover, .about-active {
	display: block;
	height: 46px;
	width: 109px;
	background: transparent url(../imgs/about-h.png) no-repeat left top;
}
.multimedia:hover, .multimedia-active {
	display: block;
	height: 46px;
	width: 183px;
	background: transparent url(../imgs/multimedia-h.png) no-repeat left top;
}
/* lists styles */
.gallery {
	border: 7px solid #cccccc;
}
.gallery:hover {
	border: 7px solid #1747d1;
}

.register-link
{
  font-size: 36pt;
}

ul.teams-list li a {
	border: 7px solid #cccccc;
	display: block;
	height: 45px;
	padding: 0;
	width: 180px;
	float: left;
	margin: 0 5px 20px 0;
	padding: 30px 0 0 0;
	color: #333;
	text-align: center;
}
ul.teams-list li a:hover {
	border: 7px solid #951f06;
	color: #951f06;
}
ul.teams-list {
	list-style: none;
}
ul.teams-list li {
	float: left;
}
ul.team-members {
	list-style: none;
}
ul.team-members li {
	margin-bottom: 20px;
	float: left;
	margin-right: 15px;
}
ul.team-members li img {
	border: 10px solid #ddd;

}
ul.team-members li span {
	width: 250px;
	height: 25px;
	display: block;
	border: 10px solid #ddd;
	background: #ddd;
	margin: -2px 0 0 0;
	font-size: 18px;
	text-align: center;
}
/* Styles contenu */
#content {
	background: #faf9f5;
	width: 920px;
	margin: 15px auto;
	padding: 50px 20px;
	min-height: 350px;
}
.leftcol {
	width: 605px;
}
.rightcol {
	width: 270px;
	padding: 0 0 0 20px;
	border-left: 1px solid #333;
}
/* Headers */
h1.about-title {
	display: block;
	height: 29px;
	width: 100%;
	background: transparent url(../imgs/title-about.png) no-repeat left top;
	border-bottom: 8px solid #8000ed;
	margin-bottom: 30px;
}
h1.teams-title {
	display: block;
	height: 29px;
	width: 100%;
	background: transparent url(../imgs/title-teams.png) no-repeat left top;
	border-bottom: 8px solid #951f06;
	margin-bottom: 30px;
}
h1.guidelines-title {
	display: block;
	height: 29px;
	width: 100%;
	background: transparent url(../imgs/title-guidelines.png) no-repeat left top;
	border-bottom: 8px solid #43c802;
	margin-bottom: 30px;
}
h1.multimedia-title {
	display: block;
	height: 29px;
	width: 100%;
	background: transparent url(../imgs/title-multimedia.png) no-repeat left top;
	border-bottom: 8px solid #1747d1;
	margin-bottom: 30px;
}
.rightcol h2 {
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
}
.leftcol h2 {
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	margin: 20px 0;
}

.leftcol h3 {
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000;
	margin: 20px 0;	
}
/* tweetable */
#tweets {
	margin: 0 0 30px 0;
}
#tweets li {
	font-size:13px;
	background:url(../imgs/twitter.png) no-repeat left 5px;
	padding-left:25px;
	padding-top:4px;
	margin-top:8px;
	list-style-type:none;
	line-height: 16px;
}
#tweets .hash { color:#333; } 
#tweets .reply { color:#333; } 
#tweets a:link { text-decoration:none; color:#0066CC;}
#tweets a:active { text-decoration:none; color:#0066CC;}
#tweets a:hover { text-decoration:underline; color:#0066CC;}
#tweets a:visited { text-decoration:none; color:#0066CC;}
