@{
  ViewBag.Title = "Sponsor";
}
	<h1>Commandites</h1>

<p>Recherche de commanditaires en cours</p>

<p>Nous sommes présentement à la recherche de commanditaires pour cet événement unique.</p>

<p>Saisissez cette occasion unique de mettre de l'avant votre entreprise, vos produits ou vos services auprès des meilleurs développeurs .NET de Montréal.</p>

<a href="#">Téléchargez notre programme de commandites »</a>
