@{
    ViewBag.Title = "Codapalooza";
}

      <h1>
        Codapalooza 2</h1>
      <p>
        Festival de programmation .NET : 24 h de code et de musique</p>
      <p>
        Codapalooza 2, c'est 24 heures consécutives de programmation, des surprises et du
        plaisir garanti!</p>
      <p>
        <strong>Pourquoi vous ne pouvez pas manquer codapalooza 2</strong></p>
      <ul class="bullet">
        <li>pour l'amour de la programmation et de la musique;</li>
        <li>parce qu'il s'agit d'un événement unique où vous pousserez vos limites;</li>
        <li>pour vous éclater avec plus de 50 des meilleurs développeurs .NET de Montréal;</li>
        <li>parce que cet événement permet à des personnes qualifiées de créer des logiciels.</li>
      </ul>
      <h3>
        Si vous ne nous croyez pas, regardez la vidéo de l'an dernier :</h3>
      <iframe src="http://player.vimeo.com/video/17248221" width="604" height="340" frameborder="0">
      </iframe>
      <p>
        <a href="http://vimeo.com/17248221">Codapalooza #1</a> from <a href="http://vimeo.com/user5337303">
          Mathieu Szablowski</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
