@{
  ViewBag.Title = "Schedule";
}
	<h1>Horaire de Codapalooza 2</h1>

    <p>Vendredi 17 juin</p>
    <ul>
      <li>17:00 - Mot de bienvenue</li>
      <li>18:00 - Barbecue</li>    
      <li>19:00 - Début officiel — Les équipes s'organisent et débutent leur projet.</li>    
      <li>Au cours de la soirée<br />Si vous jouez d'un instrument de musique, apportez-le. Un endroit sera prévu pour ceux qui souhaitent improviser un petit concert.</li>    
    </ul>
    <br />
    <p>Samedi 18 juin</p>
    <ul>
      <li>00:00 - Feu de camp et casse-croûte</li>
      <li>8:00 - Déjeuner</li>
      <li>12:00 - Dîner</li>
      <li>18:00 - Démonstrations, concours et remise de prix de présence</li>
    </ul>
