@{
  ViewBag.Title = "Schedule";
}
<span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0);
  font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal;
  letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto;
  text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;
  -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none;
  -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; font-size: medium;">
  <div style="background-color: transparent;">
    <span id="internal-source-marker_0.37880766368471086" style="font-size: 10pt; font-family: Arial;
      color: rgb(0, 0, 0); background-color: transparent; font-weight: normal; font-style: normal;
      text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Friday
      June 17th </span>
    <br>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">17:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Welcome</span></p>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">18:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>BBQ</span></p>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">19:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Kick-off</span><span style="font-size: 12pt; font-family: 'Times New Roman';
          color: rgb(0, 0, 0); background-color: transparent; font-weight: normal; font-style: normal;
          text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">—T</span><span
            style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
            font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
            white-space: pre-wrap;">eams get together and start working on their projects</span></p>
    <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
      font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
      white-space: pre-wrap;"><span class="Apple-tab-span" style="white-space: pre;"></span>
    </span>
    <br>
    <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
      font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
      white-space: pre-wrap;">During the night</span><br>
    <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
      font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
      white-space: pre-wrap;"><span class="Apple-tab-span" style="white-space: pre;"></span>
      <span class="Apple-tab-span" style="white-space: pre;"></span>Jam session</span><br>
    <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
      font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
      white-space: pre-wrap;"></span>
    <br>
    <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
      font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
      white-space: pre-wrap;">Saturday June 18th</span><br>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">00:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Campfire and snacks</span></p>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">8:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Breakfast</span></p>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">12:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Lunch</span></p>
    <p style="text-indent: 36pt; margin-top: 0pt; margin-bottom: 0pt;">
      <span style="font-size: 10pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; font-style: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;">18:00<span class="Apple-tab-span" style="white-space: pre;">
        </span>Demos, contest, and participation prizes</span></p>
  </div>
</span>