@model Codapalooza.Models.Participant

@{
    ViewBag.Title = "Index";
}

<h1>En attente de confirmation</h1>

<p>Un message vous a été envoyé à @Model.Email. Vérifier
votre boite de réception et cliquer sur le lien de confirmation.</p>