@{
  ViewBag.Title = "Guidelines";
}

<h1>Guidelines</h1>
<ul>
  <li>code like it was your last line<br />
  If this was my last chance to code, how would I want it to role for me? To what/to whom will it be useful? What is important for me? The “Software Craftsmanship” Manifesto and the “Developers Charter” can guide us in our interpretation.</li>
  <li>friendly competition between developers is great</li>
  <li>software development equals team work</li>
  <li>open space</li>
  <ul>
    <li>Whoever shows up, is the person we need<br />
    This principle reminds the members of small teams that to accomplish something, it is not necessary to have 100 000 people, plus the president of the board... What is needed are people who care about doing something. And by showing up, they show us that they care.
    </li>
    <li>Whatever happens is what could happen<br />
    This principle helps people focus on the here-and-now and eliminates all the "we could have" and "we should have". What exists is the only thing that exists at this moment.</li>
    <li>The best time to start is when it starts<br />
    This principle reminds us that inspiration and authenticity rarely happen at the same time and cannot happen on demand. It happens (or does not happen) when it happens.
    </li>
    <li>Lastly, when it's over, it's over<br />
    In a few words, don't waste time. Do what you have to do and when it's done, do something that is more useful.</li>
  </ul>
</ul>
