@{
  ViewBag.Title = "Guidelines";
}

	<h1>Lignes directrices</h1>
    <ul>
      <li><strong>Codez comme s'il s'agissait de votre dernière ligne.</strong><br />
      S'il s'agissait de ma dernière chance de coder, qu'est-ce que je voudrais faire? À quoi ou à qui serait-ce utile? Qu'est-ce qui est important pour moi? Le Manifeste de l'artisan logiciel et la charte du développeur peuvent nous guider dans notre interprétation.</li>
      <li><strong>Participez à une compétition amicale entre programmeurs.</strong></li>
      <li><strong>N'oubliez pas que le développement logiciel est avant tout un travail d'équipe.</strong></li>
      <li>L'approche à forum ouvert (open space) :
        <ul>
          <li><strong>Les personnes qui se présentent sont les bonnes.</strong><br />
		  Ce principe rappelle aux membres d'une petite équipe que pour accomplir quelque chose, il n'est pas nécessaire d'avoir 100 000 personnes, plus le président du conseil... Voici ce qu'il faut : des gens qui souhaitent faire quelque chose. Et, par leur présence, ils confirment qu'ils sont intéressés à faire quelque chose.</li>
          <li><strong>Ce qui arrive est la seule chose qui pouvait arriver.</strong><br />
		  Ce principe permet aux gens de se concentrer sur l'ici et maintenant et élimine tous les 'nous aurions dû' et 'nous aurions pu'. Ce qui existe est la seule chose qui existe au moment présent.</li>
          <li><strong>Ça commence quand ça commence.</strong><br />
          Ce principe nous rappelle que l'inspiration et l'authenticité arrivent rarement en même temps et ne peuvent se produire sur demande. Ça arrive (ou n'arrive pas) quand ça arrive, point.</li>
          <li><strong>Finalement, quand c'est fini, c'est fini.</strong><br />
		  En d'autres mots, ne perdez pas de temps. Faites ce que vous avez à faire et lorsque vous avez fini, passez à quelque chose de plus utilie.</li>
      	</ul>
        </li>
      </ul>
