@model Codapalooza.Models.Participant

@{
    ViewBag.Title = "Confirm";
}

<h1>Confirmation d'inscription</h1>

<p>
Bienvenu @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName).
</p>

@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
@if (Model.Confirmed)
{
<p>Ton inscription est maintenant confirmée.</p>

<p>Je t'invite à inscrire ton projet et/ou voter pour ton préféré.</p>

<p>
    @Html.ActionLink("Allez aux projets", "Index", "Project")
</p>
}
else
{
<p>Une erreur est survenue lors de la confirmation.</p>

<p>Contactez l'administrateur pour régler le problème.</p>
}