@model Codapalooza.Models.Participant

@{
    ViewBag.Title = "WaitingForConfirmation";
}

<h1>En attente de confirmation</h1>

<p>Un message vous a été envoyé à @Model.Email. Vérifiez
votre boîte de réception et cliquez sur le lien de confirmation.</p>
