@{
  ViewBag.Title = "About";
}
	<h1>À propos</h1>

	<p>Définition de Codapalooza : Un party fou, fou; faire la fête avec un tas de gens comme si demain n'existait pas.</p>

	<p>Directives concernant le Codapalooza :</p>
	<ul>
      <li>Codez comme s'il s'agissait de votre dernière ligne.</li>
      <li>Participez à une compétition amicale entre développeurs.</li>
      <li>N'oubliez pas que le développement logiciel est avant tout un travail d'équipe.</li>
    </ul>
    
    <h3>Deuxième édition</h3>
    <p>Pour cette deuxième édition du Codapalooza, nous avons pensé regrouper des programmeurs .NET passionnés et talentueux pour un événement unique où ils pourront pousser leurs limites. Cet événement réunira plus de 50 des meilleurs développeurs .NET de Montréal.</p>
    
    <p>Le Codapalooza permet à des personnes qualifiées de former des équipes et de créer des logiciels qui seront livrés à la fin de l'événement.</p>
    
